<section id="aboutme" class="bg-[#1f1f1f] pt-8 pb-8 text-[#e0e0e0]">
  <div class="flex justify-center">
    <h2 class="mx-auto text-5xl font-semibold">
      About <span class="blue text-5xl"> Me</span>
    </h2>
  </div>
  <div class="mx-auto max-w-[1200px] flex-row justify-center md:flex">
    <div class="m-8 flex h-full w-full justify-center">
      <figure
        class="flex h-[250px] w-[250px] justify-center rounded-full md:h-[400px] md:w-[400px]"
        style={{
          boxShadow: "-20px 20px 52px #000000 ,20px -20px 52px #1d1d1d",
        }}
      >
        <img
          src="/port.jpg"
          alt="marwan allisy portfolio"
          class="flex h-[250px] w-[250px] items-center justify-center rounded-full md:h-[400px] md:w-[400px]"
        />
      </figure>
    </div>
    <div class="my-auto mx-2 flex content-center justify-center">
      <p class="mx-auto w-4/5 max-w-[1200px] text-center text-2xl font-medium">
        A Fullstack developer with a vast passion for making{" "}
        <span class="pink"> clean</span> and<span class="pink">
          responsive
        </span>
        <span class="blue"> websites</span>
        <br />
        <br />I help <span class="blue">businesses</span> reach global audiences
        by building <span class="pink"> engaging</span>{" "}websites.
      </p>
    </div>
  </div>
</section>
