@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
$sec: #f7f4f3;
$secbg: #e0e0e0;
$pri: #0a0a0a;
$pink: #f72585;
$blue: #574ae2;
$fontcolor: black;

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: 300ms;
}
html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  background: #171717;
}
.louading__bar {
  width: 100%;
  width: 100%;
  display: flex;
  margin: 0 auto;
}
.loading__welcome {
  font-size: 4rem;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  animation: fadeup 1s ease-in-out;
}

/*
GENS
*/
button {
  text-decoration: none;
  box-decoration-break: none;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}
a {
  text-decoration: none;
}
.app__bg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -100000000;
  overflow: hidden;
}

.pink {
  color: $pink;
  font-weight: 700;
}
.blue {
  color: $blue;
  font-weight: 700;
}
li {
  list-style-type: none;
}
.hover-effect {
  position: relative;
}

.hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  height: 3.5px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}
.hover-effect--white:after {
  background-color: $pri;
}
.hover-effect--dark:after {
  background-color: white;
}
.hover-effect--white:hover:after {
  left: 0;
  width: 100%;
  background-color: $pri;
}
.hover-effect--dark:hover:after {
  left: 0;
  width: 100%;
  background-color: #e0e0e0;
}
section:nth-child(odd) {
  background: $secbg;
}
/*

clickssssssssssssssssss

*/
.click {
  transition: 200ms;
}
.click:hover {
  scale: 0.9;
}
.click:active {
  scale: 1.1;
}
/*

animationsss

*/

/* 

NAV BARRRRRR

*/
#navbar {
  display: flex;

  justify-content: space-around;
  width: 100%;
  height: 85px;
  padding-top: 10px;
  padding-bottom: 10px;

  .nav__logo {
    width: 50px;
    height: 50px;
  }
  .adjust {
    font-size: 1.2rem;
  }

  .nav__link--list {
    // gap: 1rem;
    display: flex;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1rem;
    animation: 2s fadeup ease-in-out;
    .adjust--anchor {
      font-size: 20px;
    }
    .nav__link {
      .nav__link--anchor {
        color: $fontcolor;
      }
    }
  }
}
/*

astroooooooooooooo

*/
.landing__astro--cont {
  width: 30%;
  position: absolute;
  right: 2%;
  max-width: 520px;
  animation: 3s astrointro ease-in-out;
  .landing__astro {
    animation: 3s astrofloat infinite alternate-reverse ease-in-out;
  }
}
#dark__right--arm {
  animation: 3s rightarm infinite alternate-reverse ease-in-out;
  transform-origin: top;
  transform-box: fill-box;
}

#dark__legs {
  animation: 5s rightarm infinite alternate-reverse ease-in-out;
  transform-origin: top;
  transform-box: fill-box;
}
@keyframes astrointro {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes astrofloat {
  0% {
    transform: translateY(20px) translateX(0px);
  }
  100% {
    transform: translateY(-20px) translateX(8px);
  }
}
@keyframes rightarm {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@keyframes legs {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*
LANDINGGG
*/
#landing {
  height: 100%;
  width: 100%;

  .landing__links--cont {
    .Landing__links {
      .landing__link--list {
        display: flex;
        gap: 5px;

        .landing__link--cont {
          margin-top: 16px;
          display: flex;
        }

        .landing__link {
          .landing__link--anchor--pink {
            padding: 6px;
            width: 42px;
            height: 42px;
            background: $pink;
            font-size: 2rem;
            margin-right: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: $fontcolor;
          }
          .landing__link--anchor--blue {
            padding: 6px;
            width: 42px;
            height: 42px;
            background: $blue;
            font-size: 2rem;
            margin-right: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: $fontcolor;
          }
        }
      }
    }
  }

  @keyframes levitate {
    0% {
      transform: translateY(8px);
    }
    50% {
      transform: translateY(-8px);
    }
    100% {
      transform: translateY(8px);
    }
  }
  .landing__discription--cont {
    width: 100%;
    height: calc(100vh - 85px);
    position: relative;
    display: flex;
    animation: levitate ease-in-out 5s infinite;
    .landing__discription {
      width: 70%;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 1000px;

      .landing__discription--title {
        font-size: 3.8rem;
      }
      .landing__discription--para {
        font-size: 1.8rem;
        font-weight: 600;
        max-width: 650px;
      }
    }
  }
  .landing__scroll--cont {
    position: absolute;
    width: 100%;
    bottom: 8%;
    position: absolute;
    transform: translate(0, -50%);
    left: 46%;
    .landing__scroll {
      border: 3px solid $pri;
      width: 25px;
      height: 50px;
      border-radius: 12px;
      display: flex;

      .landing__scroll--dot {
        border: 3px solid $pri;
        height: 12px;
        width: 6px;
        border-radius: 12px;
        background: $pri;
        justify-content: center;
        margin-top: 0.6rem;
        margin-left: 0.43rem;
        display: flex;
        animation: 2s scroll ease-in-out infinite alternate-reverse backwards;
      }
    }
    @keyframes scroll {
      0% {
        transform: translateY(-2px);
      }
      100% {
        transform: translateY(14px);
      }
    }
  }
}

/*

ABOUT ME

*/
#aboutme {
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  .aboutme__section--title-cont {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .aboutme__section--title {
      font-size: 3rem;
    }
  }
  .aboutme__cont {
    display: flex;
    justify-content: center;
    .aboutme__pic--cont {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      margin: 2rem;

      .aboutme__pic--wrapper {
        .aboutme__pic {
          width: 400px;
          height: 400px;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
          display: flex;
        }
      }
    }
    .aboutme__description {
      width: 100%;
      height: 100%;
      margin: auto 1.5rem;
      display: flex;
      justify-content: center;
      align-content: center;
      .aboutme__description--cont {
        width: 100%;
        height: 100%;

        .aboutme__description--para {
          width: 80%;
          font-size: 26px;
          font-weight: 500;
          margin: auto 0;
          text-align: center;
        }
      }
    }
  }
}
/*

SKILLS

*/

.tech__item--cont {
  min-width: 33.3%;
  display: flex;
  .tech__item {
    width: 110px;
    height: 110px;
    border-radius: 18px;
    transition: 300ms;
    margin: 1.5rem;
    padding: 8px;
    .tech__item--img--cont {
      margin-top: 12px;
      width: 100%;
      transition: 300ms;
      .tech__item--img {
        margin: 0 auto;
        display: flex;
        max-height: 55px;
        max-width: 100%;
      }
    }
    .tech__item--name--cont {
      transform: translateY(12px);
      opacity: 0;
      scale: 0;
      transition: 300ms;
      .tech__item--name {
        width: 100%;
        font-size: 1.2rem;
        font-weight: 600;
        display: flex;
        justify-content: center;
      }
    }
  }
}
.tech__item--cont:hover {
  .tech__item--img--cont {
    scale: 0.8;
  }
  .tech__item--name--cont {
    scale: 1;
    opacity: 1;
    transform: translateY(0px);
    font-weight: 700;
  }
}

.skills__cont {
  width: 100%;
  .skills {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: -1rem;
  }
}

#skills {
  width: 100%;
  .skill__cont--wrapper {
    justify-content: center;
    margin: 2rem auto;
    .skill__section--title--cont {
      font-size: 2.2rem;
      display: flex;
      justify-content: center;
      .skill__section--title {
        margin-bottom: 1rem;
      }
    }
    .skills__skill--cont {
      display: flex;
      width: 100vw;
      justify-content: center;

      .skill__Proficient--cont {
        width: 33vw;
        .skill__Proficient {
          .skill--Proficien--title--cont {
            display: flex;
            justify-content: center;
            .skill__Proficient--title {
              font-size: 2rem;
            }
          }
        }
      }

      .skill__Familiar--cont {
        width: 33vw;
        margin-left: 1rem;
        .skill__Familiar {
          .skill--Familiar--title--cont {
            display: flex;
            justify-content: center;
            .skill__Familiar--title {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}

/* 

porject 

*/
.projects__wrapper:hover {
  .project__bg {
    visibility: visible;
    filter: blur(5px);
  }
  .project__description--cont {
    transform: translate(-50%, 50%);
    opacity: 1;
  }
  .project__description {
    transform: translateY(0px);
  }
}
#projects {
  padding: 3rem;
  .porject__title--cont {
    justify-content: center;
    display: flex;
    width: 100%;
    .project__title {
      font-size: 2rem;
      margin: 0 auto;
      margin-bottom: 1rem;
    }
  }
}
.projects__wrapper {
  width: 80vw;
  margin: 0 auto;
  .projects__cont {
    .project__cont {
      width: 100%;
    }
  }
}
.project__wrapper:hover .project__img {
  transform: scale(1.07);
  filter: blur(5px);
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 450ms ease;
  color: white;
  max-width: 550px;
}

.project__wrapper:hover .project__wrapper--bg {
  opacity: 0.7;
  visibility: visible;
}

.project {
  margin-bottom: 135px;
}

.project__img {
  width: 100%;
  margin-bottom: -1rem;
  transition: all 600ms ease;
}
.project__wrapper {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
  overflow: hidden;
  margin-bottom: 2rem;
}

.project__wrapper:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project__wrapper:hover .project__img {
  transform: scale(1.07);
  filter: blur(5px);
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 300ms, transform 450ms ease;
  color: white;
  max-width: 550px;
}

.project__wrapper:hover .project__wrapper--bg {
  opacity: 0.7;
  visibility: visible;
}

.project__wrapper--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: all 450ms ease;
  visibility: hidden;
}

.project__description--title {
  font-size: 40px;
}

.project__description--sub-title {
  margin-top: 8px;
}

.project__description--link {
  color: white;
  font-size: 20px;
  margin-right: 16px;
}

.project__description--para {
  margin: 16px 0;
}
/*

contact

*/
#contact {
  padding: 1rem;
  .contact__section--title--cont {
    width: 100%;
    justify-content: center;
    display: flex;
    .contact__section--title {
      margin: 0 auto;
      font-size: 2rem;
    }
  }
  .contact__form--cont {
    justify-content: center;
    display: flex;
    .contact__form {
      overflow: hidden;
      box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
      margin: 0.5rem auto;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0.6rem;
      width: 60%;

      height: 100%;
      .contact__form--subject {
        margin: 0.5rem;
        .form__subject {
          width: 45vw;
          padding: 10px;
          font-size: 1.2rem;
          border-radius: 12px;
          border: solid black 1px;
          background-color: $sec;
        }
      }
      .contact__form--name {
        margin: 0.5rem auto;
        .form__name {
          background-color: $sec;
          width: 45vw;
          border-radius: 12px;
          padding: 10px;
          font-size: 1.2rem;
          border: solid whitesmoke 1px;
        }
      }
      .contact__form--email {
        margin: 0.5rem auto;
        width: 45vw;
        .form__email {
          min-width: 45vw;
          border-radius: 12px;
          padding: 10px;
          font-size: 1.2rem;
          border: solid whitesmoke 1px;
          background-color: $sec;
        }
      }
      .contact__form--message {
        justify-content: center;

        margin: 0.5rem auto;
        .form__message {
          border: solid whitesmoke 1px;
          width: 45vw;
          border-radius: 12px;
          background-color: $sec;
          padding: 10px;
          font-size: 1.2rem;
          resize: none;
          height: 300px;
        }
      }

      .contact__form--btn {
        .form__submit {
          border: solid whitesmoke 1px;
          list-style-type: none;
          border-style: none;
          background: none;
          color: $fontcolor;
          font-weight: 700;
        }
        margin: 1rem;
      }
      .contact__form--btn {
        justify-content: center;
        display: flex;
        margin: 0 auto;
        font-family: inherit;
        font-size: 20px;
        background: $blue;
        color: $fontcolor;
        cursor: pointer;
        padding: 0.8rem;
        padding-left: 0.4em;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 16px;
        overflow: hidden;
        transition: all 0.2s;
        width: 110px;
      }

      .contact__form--btn span,
      .form__submit {
        display: block;
        margin-left: 0.3em;
        transition: all 0.3s ease-in-out;
      }

      .contact__form--btn svg {
        display: block;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out;
        border-style: none;
      }

      .contact__form--btn:hover .svg-wrapper {
        animation: fly-1 0.6s ease-in-out infinite alternate;
      }

      .contact__form--btn:hover svg {
        transform: translateX(1.2em) rotate(45deg) scale(1.1);
      }

      .contact__form--btn:hover .form__submit {
        transform: translateX(5em);
      }

      .contact__form--btn:active {
        transform: scale(0.95);
      }

      @keyframes fly-1 {
        from {
          transform: translateY(0.1em);
        }

        to {
          transform: translateY(-0.1em);
        }
      }
    }
  }
}
.contacts__success--cont {
  justify-content: center;
  display: flex;
  background-color: rgb(3, 212, 3);
  margin-top: 1rem;
  width: 120%;
  margin-left: -4rem;
  padding: 4px;
  margin-bottom: -0.6rem;
}
.contacts__error--cont {
  justify-content: center;
  display: flex;
  background-color: rgb(206, 5, 5);
  margin-top: 1rem;
  width: 120%;
  margin-left: -4rem;
  padding: 4px;
  margin-bottom: -0.6rem;
}
/*

FOOTER

*/
#footer {
  width: 100%;
  height: 100%;
  background: #1d1d1d;
  justify-content: center;
  display: flex;
  .footer__cont {
    .footer__logo--cont {
      margin-top: 1rem;
      justify-content: center;
      align-items: center;
      display: flex;
      .footer__logo {
        margin: 0.5rem;
        .footer__logo--img {
          width: 100px;
          height: 100px;
        }
      }
    }
    .footer__link--list {
      display: flex;
      margin: 1rem;
      gap: 1rem;
      .footer__link {
        font-size: 18px;
        .footer__link--anchor {
          color: white;
        }
      }
    }
    .footer__copy-right {
      margin: 1rem;
      color: white;
      justify-content: center;
      align-items: center;
      display: flex;
      margin-bottom: 3rem;
    }
  }
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 1200px) {
  .footer__link--list {
    display: none !important;
  }
  .tech__item--name--cont {
    opacity: 1 !important;
  }
  .aboutme__pic--wrapper {
    .aboutme__pic {
      justify-content: center !important;
      display: flex !important;
    }
  }
  .landing__discription--cont {
    margin-left: 1rem;
  }
  .landing__discription--title {
    font-size: 3rem !important;
  }
  .landing__discription--para {
    font-size: 2rem !important;
    max-width: 70% !important;
  }
  .aboutme__cont {
    flex-direction: column;
  }
  .skills__skill--cont {
    flex-direction: column;
  }
  .skills {
    width: 50vw;
    right: -30% !important;
    position: relative !important;
    transform: translateX(-25%) !important;
  }

  .skill__Proficient--cont {
    width: 100vw !important;
    margin: 0 auto;
  }
  .skill__Familiar--cont {
    width: 100vw !important;
    margin: 0 auto !important;
  }
  .skill__Proficient {
    border: none !important;
  }
  .project__description--title {
    font-size: 1.2rem !important;
  }
  .project__description {
    margin-left: -2.5rem !important;
  }
  .nav__logo {
    width: 150px;
  }

  .landing__astro {
    display: none !important;
  }
  .aboutme__description--cont {
    width: 100vw !important;
    justify-content: center;
    display: flex;
  }
  .aboutme__description--para {
    margin: 3rem 8% !important;
    font-size: 1.4rem !important;
    width: 100vh !important;
  }
  .section__title {
    font-size: 2.3rem !important;
  }
}
/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 600px) {
  .skills {
    right: -40% !important;
    position: relative !important;
    transform: translateX(-25%) !important;
  }
  .landing__discription--title {
    font-size: 2.9rem !important;
  }
  .landing__link--anchor--blue,
  .landing__link--anchor--pink {
    font-size: 1rem !important;
    padding: 6px;
    width: 32px !important;
    height: 32px !important;
    background: $blue;

    margin-right: 12px;
  }
  .landing__discription--para {
    font-size: 1.5rem !important;
    max-width: 90% !important;
  }
  .tech__item--cont {
    margin: 0 auto !important;
    width: 100%;
  }
  .aboutme__description--cont {
    display: flex;
    justify-content: center;
    margin-left: -3rem;
  }
  .skill__Proficient--title,
  .skill__Familiar--title {
    padding: 0 30px important;
    text-align: center;
  }
  .skills {
    padding: 0;
  }
  .contact__form {
    width: 100vw !important;
    margin: 0;
  }
  .form__name {
    width: 80vw !important;
    margin: 0;
  }
  #landing {
    height: 100vh;
  }
  .project__description--para {
    display: none;
  }

  .form__email {
    width: 80vw;
    margin-left: -3rem !important;
    margin: 0 !important;
  }
  .form__message {
    width: 80vw !important;
    margin: 0;
  }
  .nav__link {
    font-size: 0.7rem;
  }
  .hidden {
    display: none !important;
  }
  .adjust {
    display: flex !important;
  }

  .aboutme__pic--cont {
    width: 70% !important;
    height: 70% !important;
    margin: 0 auto !important;
    margin-top: 3rem !important;
    .aboutme__pic {
      width: 100% !important;
      height: 100% !important;
    }
  }

  .contact__form--email {
    margin-left: 1rem !important;
  }
  .contacts__success--cont,
  .contacts__error--cont {
    font-size: 0.6rem;
    font-weight: 700;
  }
}
// browser styles

.nav__link {
  margin-left: 1rem;
}
